.main{
    display: flex;
    position: relative;
}

.calendarPersonal{
    position: absolute;
    top: 95px;
    right: 50px;
    border: 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 24px #00000029;
    
}

.react-calendar{
    border: 0px !important;
    /* width: 250px;
    height: 170px; */
}


.chart{
    z-index: 0;
    width: 1500px;
    height: 100vh;
    margin: auto;
    display: flex;
    /* background-color: green; */
}

.chart__body{
    width: 100%;
    height: 100%;
    position: relative;
    margin-left: -70px;
    /* background-color: green; */
}

.chart__Y{
    position: absolute;
    top: 100px;
    left: 150px;
    height: 690px;
    width: 1px;
    background-color: rgb(183, 182, 182)
}

.chart__X{
    position: absolute;
    top: 780px;
    left: 140px;
    width: 1110px;
    height: 1px;
    background-color: rgb(183, 182, 182)
}



.component__title{
    font-family: "Montserrat-Regular";
    font-size: 25px;
    position: absolute;
    top: 20px;
    left: 120px;
    color: #4c4c4c;
}




.XY__body{
    position: absolute;
    left: 150px;
    top: 100px;
    /* bottom: 150px; */
    width: 1090px;
    height: 680px;
    /* opacity: 0.3; */
}

.limit{
    font-family: "Montserrat-Regular";
    font-size: 14px;
    position: absolute;
    top: 300px;
    left: -10px;
    display: flex;

}
.limit__text{
    text-align: center;
    line-height: 18px;
    margin-top: -8px;
}
.limit__line{
    margin-top: 10px;
    margin-left: 5px;
    width: 20px;
    height: 1px;
    background-color: black;
}
.limit__line_punctir{
    margin-top: 10px;
    border-top: 1px dashed rgb(138, 138, 138); 
    width: 1150px;
    height: 2px;
    background-color: white;
}


.XY__body_wrapper{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-content: flex-start;
    /* padding-left: 10px; */
}

.capacity{
    /* transition: all 0.5s; */
    width: 100px;
    height: 100%;
    margin-left: 20px;
    position: relative;
    /* background-color: red;
    opacity: 0.4; */
    z-index: 0;
    /* opacity: 0.3; */
}

.filling{
    /* transition: all 2s; */
    position: absolute;
    bottom: 0;
    /* height: 50%; */
    width: 100%;
    background-color: purple;
    /* opacity: 0.7; */
    opacity: 0.3;
    z-index: 2;
}
.time{
    font-family: "Montserrat-Regular";
    font-size: 12px;
    color: black;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.NewFilling{
    transition: all 2s;
    transform: translateX(-120px);
}







.clock{
    /* font-family: "SourceSerif4-Regular"; */
    font-family: "Calibri";
    font-size: 25px;
    position: absolute;
    top: 23px; right: 50px;
}

.Navbar__body{
    position: absolute;
    top: 0; left: 0;
    z-index: 10;
    width: 75px;
    height: 100vh;
    background-color: #fff;
    /* background-color: rgb(245, 245, 245); */
    border-right: 1px solid rgb(243, 243, 243);
    box-shadow: 0px 0px 24px #00000029;
    padding-top: 10px;
}

.logo{
    margin: auto;
    width: 48.7px;
    height: 55px;
    background-image: url('../img/mirea.png');
    background-size: 100% 100%;
}

.dop{
    margin: auto;
    margin-top: 350px;
    width: 30px;
    height: 30px;
}

.component{
    margin: auto;
    width: 40px;
    height: 40px;
    /* background-color: green; */
    cursor: pointer;
}

.dot{
    width: 7px;
    height: 7px;
    margin: auto;
    margin-top: 5px;
    border-radius: 3.5px;
    background-color: grey;
    animation-name: zib;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.body__wrapper{
    
}
.skud__body{
    margin: 100px 0px ;
    width:1200px;
    height:700px;
    background-color:#fff;
    display:grid;
    grid-template-columns: 600px 600px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.camera{
    background-color:#333;
    padding:20px;
    border-radius:5px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    font-family:sans-serif;
    position: relative;
    overflow: hidden;
    /* border: 2px rgb(132, 233, 132) solid; */
  }
  #camera1{
    border: 2px rgb(244, 100, 100) solid;
  }
  #camera2{
    background-image: url('../img/sklad1.jpg') !important;
    background-size: 110% 100%;
  }
  #camera3{
    background-image: url('../img/enter.jpg') !important;
    background-size: 110% 130%;
  }
  #camera4{
    background-image: url('../img/sklad13.jpg') !important;
    background-size: 110% 100%;
  }


  .mask{
    position: absolute;
    top: -10px; left: 0;
    width: 610px;
    height: 350px;
    z-index: 200;
    background-color: grey;
    opacity: 0.4;
  }
  .player{
    position: absolute;
    top: -10px; left: 0;
    width: 610px;
    height: 350px;
    z-index: 2;
  }

  .buttonPersonal{
    font-family: "Montserrat-Regular";
    font-weight: 500;
    color: white;
    font-size: 15px;
    position: absolute;
    width: 255px;
    height: 50px;
    box-shadow: 0px 0px 12px #00000029;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    opacity: 0.8;
  }

  .buttonPersonal>a{
    width: 100%;
    height: 100%;
    padding-top: 13px;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .phone__icon{
    margin-right: 7px;
    width: 20px;
    height: 20px;
  }

  .buttonPersonal:active{
    box-shadow: 0px 0px 0px #00000029;
  }

  .buttonCalling1{
    top: 500px;
    right: 95px;
    background-color: rgba(0, 0, 128, 0.8);
  }
  .buttonCalling2{
    top: 670px;
    right: 95px;
    background-color: rgba(245, 120, 3, 0.976);
  }
  .buttonReaction{
    padding-top: 13px;
    top: 585px;
    right: 95px;;
    background-color: green;

  }
  
  .buttonReactionWater{
    padding-top: 13px;
    top: 435px;
    right: -415px;
    background-color: green;
  }

@keyframes zib {
    0%{
        width: 7px;
        height: 7px;
        border-radius: 3.5px;
        opacity: 100%;
    }
    100%{
        width: 20px;
        height: 20px;
        border-radius: 10px;
        opacity: 0%;
    }
}

.fire{
    margin-top: 250px;
}

.water{
    margin-top: 50px;
}

.skud{
    margin-top: 50px;
}


img{
    width: 100%;
    height: 100%;
}



.developers {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-80%);
    text-align: center;
    font-family: "Montserrat-Light";
    font-size: 8px;
    display: flex;
}

.department {
    font-family: "SourceSerif4-Regular";
    font-size: 22px;
    margin-left: 5px;
    /* margin-top: -12px; */
}



@font-face {
    font-family: 'Montserrat-Light';
    src:url('../img/fonts/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}


@font-face {
    font-family: 'Montserrat-Regular';
    src:url('../img/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src:url('../img/fonts/Montserrat-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'Montserrat-Italic';
    src:url('../img/fonts/Montserrat-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'Montserrat-LightItalic';
    src:url('../img/fonts/Montserrat-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'SourceSerif4-Bold';
    src:url('../img/fonts/SourceSerif4Caption-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'SourceSerif4-Regular';
    src:url('../img/fonts/SourceSerif4Caption-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}

@font-face {
    font-family: 'Video-Regular';
    src:url('../img/fonts/Video-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;  
}


.waterBody{
    margin-top: 150px;
    position: relative;
   
}
.waterImg{
    width: 1200px;
    height: auto;
    border: 2px solid black;
}

.point{
    position: absolute;
    top: 90px; left: 0;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: green;
    border: 1px solid black;
}

.p1{
    left: 315px;
}
.p2{
    left:550px;
}
.p3{
    top: 445px;
    left: 385px;
}
.p4{
    left: 790px;
}
.p5{
    top: 445px;
    left: 670px;
}


.attention{
    position: absolute;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    user-select: none;
    display: none;
}
.attention__wrap{
    position: relative;
    width: 100%;
    height: 100%;
}
.attention__background{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0.85;
}
.attention__info{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate3d(-50%, -70%, 0);
    font-family: "Montserrat-SemiBold";
    font-size: 45px;
    color: white;
    z-index: 100;
    text-align: center;
}
.attention__button{
    transition: all 0.5s;
    cursor: pointer;
    width: 270px;
    height: 60px;
    /* background-color: white; */
    border: 2px solid white;
    /* color: black; */
    margin: auto;
    margin-top: 32px;
    padding-top: 3px;
    font-size: 32px;
}
.attention__button:hover{
    background-color: white;
    color: black;
}



@media(min-width: 100px) and (max-width: 1919px) {
    

    .calendarPersonal{
        top: calc(px + (95 - 95*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        right: calc(px + (50 - 50*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        border-radius: calc(px + (10 - 10*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        box-shadow: 0px 0px 24px #00000029;
    }
    .react-calendar{
        border: 0px !important;
    }

    .chart{
        width: calc(px + (1500 - 1500*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }

    .chart__body{
        margin-left: calc(px + (-70 - -70*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }

    .chart__Y{
        top: calc(px + (100 - 100*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        left: calc(px + (150 - 150*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        height: calc(px + (690 - 690*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }

    .chart__X{
        top: calc(px + (780 - 780*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        left: calc(px + (140 - 140*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        width: calc(px + (1140 - 1140*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }

    .component__title{
        font-size: calc(px + (25 - 25*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        top: calc(px + (20 - 20*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        left: calc(px + (120 - 120*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }

    .XY__body{
        left: calc(px + (150 - 150*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        top: calc(px + (100 - 100*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        width: calc(px + (1090 - 1090*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        height: calc(px + (680 - 680*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    
    .limit{
        font-size: calc(px + (14 - 14*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        top: calc(px + (300 - 300*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        left: calc(px + (-10 - -10*0.53) * ((100vw - 1024px) / (1920 - 1024)));    
    }

    .limit__text{
        line-height: calc(px + (18 - 18*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        margin-top: calc(px + (-8 - -8*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }

    .limit__line{
        margin-top: calc(px + (10 - 10*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        margin-left: calc(px + (5 - 5*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        width: calc(px + (20 - 20*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }

    .limit__line_punctir{
        margin-top: calc(px + (10 - 10*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        width: calc(px + (1150 - 1150*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    
    .capacity{
        margin-left: calc(px + (20 - 20*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }

    .time{
        font-size: calc(px + (12 - 12*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        bottom: calc(px + (-30 - -30*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    
    .NewFilling{
        transform: translateX(calc(px + (-120 - -120*0.53) * ((100vw - 1024px) / (1920 - 1024))));
    }
    
    .clock{
        font-size: calc(px + (25 - 25*0.53) * ((100vw - 1024px) / (1920 - 1024)));
        top: calc(px + (23 - 23*0.53) * ((100vw - 1024px) / (1920 - 1024))); 
        right: calc(px + (50 - 50*0.53) * ((100vw - 1024px) / (1920 - 1024)));
    }
    
    .Navbar__body{
        width: 75px;
        box-shadow: 0px 0px 24px #00000029;
        padding-top: 10px;
    }
    
    .logo{
        width: 48.7px;
        height: 55px;
    }
    
    .dop{
        margin-top: 350px;
        width: 30px;
        height: 30px;
    }
    
    .component{
        width: 40px;
        height: 40px;
    }
    
    .dot{
        width: 7px;
        height: 7px;
        margin-top: 5px;
        border-radius: 3.5px;
    }
    
    .skud__body{
        margin: 100px 0px;
        width:1200px;
        height:700px;
        grid-template-columns: 600px 600px;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .camera{
        padding:20px;
        border-radius:5px;
        font-size:40px;
      }
      
      .mask{
        top: -10px; 
        width: 610px;
        height: 350px;
      }

      .player{
        top: -10px;
        width: 610px;
        height: 350px;
      }
    
      .buttonPersonal{
        font-size: 15px;
        width: 255px;
        height: 50px;
        box-shadow: 0px 0px 12px #00000029;
      }
    
      .buttonPersonal>a{
        padding-top: 13px;
      }
    
      .phone__icon{
        margin-right: 7px;
        width: 20px;
        height: 20px;
      }
    
      .buttonCalling1{
        top: 500px;
        right: 95px;
      }

      .buttonCalling2{
        top: 670px;
        right: 95px;
      }

      .buttonReaction{
        padding-top: 13px;
        top: 585px;
        right: 95px;;
      }
      
      .buttonReactionWater{
        padding-top: 13px;
        top: 435px;
        right: -415px;
      }
    

    .fire{
        margin-top: 250px;
    }
    
    .water{
        margin-top: 50px;
    }
    
    .skud{
        margin-top: 50px;
    }
    
    
    .developers {
        bottom: 10px;
        font-size: 8px;
    }
    
    .department {
        font-size: 22px;
        margin-left: 5px;
    }
    
    
    .waterBody{
        margin-top: 150px;
    }

    .waterImg{
        width: 1200px;
    }
    
    .point{
        top: 90px;
        width: 20px;
        height: 20px;
        border-radius: 10px;
    }
    
    .p1{
        left: 315px;
    }
    .p2{
        left:550px;
    }
    .p3{
        top: 445px;
        left: 385px;
    }
    .p4{
        left: 790px;
    }
    .p5{
        top: 445px;
        left: 670px;
    }

    .attention__info{
        font-size: 45px;
    }

    .attention__button{
        width: 270px;
        height: 60px;
        margin-top: 32px;
        padding-top: 3px;
        font-size: 32px;
    }
    
}